*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.hyy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator{
    background-color: whitesmoke;
    width: 34rem;
    height: 100vh;
    border-radius: 35px;
  }
  .display input{
    padding-right: 3px;
    font-size: 31px;
    border-radius: 27px;
    background-color: white;
    margin-top: 41px;
    border: none;
    margin-left: 25px;
    height: 7rem;
    width: 90%;
    outline: none;
    color: rgba(128, 128, 128, 0.977);
    text-align: right;
    box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.3);
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),inset -2px -4px rgba(0, 0, 0, 0.1); /* Add a box shadow for the button effect */
}
.buttons {
  display: flex;
  justify-content: center;
  position: relative;
  right: 11px;
  gap: 7px;
  bottom: 29px;
}
.button-icons:hover{
    transform: scale(1.08);
    cursor: pointer;
}
.button-iconsd:hover{
    transform: scale(1.08);
    cursor: pointer;
}
.eq:hover{
    transform: scale(1.08);
    cursor: pointer;
}
.button-icons{
  font-size: 31px;
    height: 71px;
    position: relative;
    right: 35px;
    width: 90px;
    border-radius: 30px;
    border: none;
    margin-top: 54px;
    margin-left: 13px;
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
  
  .button2{
    margin-bottom: -28px;
    gap: 13px;
    margin-top: -49px;
    margin-left: 73px;
    display: flex;
}
  
  .button-iconsd {
    font-size: 44px;
    position: relative;
    margin-top: 55px;
    left: 45px;
    width: 203px;
    border: none;
    border-radius: 30px;
    margin-right: 91px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.button3{
    display: flex;
    gap: 13px;
    margin-left: 73px;

}
.button4{
  margin-left: 76px;
  margin-top: -26px;
  display: flex;
  gap: 13px;

}
.button5{
  margin-left: 76px;
  margin-top: -26px;
  display: flex;
  gap: 13px;
  margin-bottom: 23px;

}
.eq{
  font-size: 47px;
  height: 163px;
  bottom: 160px;
  position: relative;
  right: -394px;
  width: 86px;
  border-radius: 30px;
  border: none;
  margin-top: -34px;
  margin-left: 13px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  
}